* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    background-color: rgba(227, 220, 220, 0); 
    position: absolute; 
    width: 100%; 
    z-index: 1; 
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    transition: color 0.3s; 
    padding: 0.9cm;
}

.nav a:hover {
    color: #34a02d; 
}

.user {
    font-size: 1.5rem;
    color: white; 
    transition: color 0.3s; 
}

.user:hover {
    color: #34a02d; 
}

/* Dropdown Menu Styles */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 4px;
}

.dropdown-menu .dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f1f1f1;
    color: #34a02d;
}

/* Show the dropdown menu when hovering over the dropdown item */
.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}
